---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import 'bourbon/bourbon';

// Our variables
$base-font-family: "Open Sans",Helvetica, Arial, sans-serif;
$serif-font-family: Georgia, serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$brand-color:      #2a7ae2;
$background-color: lighten(#FFF4C8, 10%);

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Grid settings
@import 'neat/neat-helpers';
$grid-columns: 12;
$max-width:    800px;
// $visual-grid: true;

$mobile: new-breakpoint(max-width 500px 4);
$tablet: new-breakpoint(min-width 501px max-width 699px 8);
$desktop: new-breakpoint(min-width 700px 12);

@import 'neat/neat';

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
