---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import 'bourbon';


// Our variables
$base-font-family: "Open Sans",Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Grid settings
@import 'neat-helpers';
$grid-columns: 12;
$max-width:    800px;
$visual-grid: true;

$palm: new-breakpoint(max-width 500px 4);
$laptop: new-breakpoint(min-width 500px max-width 800px 8);
$desktop: new-breakpoint(min-width 800px 12);

@import 'neat';

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
