<!DOCTYPE html>


<html lang="en">
<title> DSSG Berlin</title>
<meta name="viewport" content="width=device-width, initial-scale=1">


<link rel="stylesheet" href="/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic" rel='stylesheet' type='text/css'>
<link rel="canonical" href="https://dssg-berlin.org/">
<link rel="alternate" type="application/rss+xml" title="DSSG Berlin" href="https://dssg-berlin.org/feed.xml" />

<link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">



<body class="w-100 sans-serif bg-white">

<style>
.what-we-do {
    background: url(/images/front-page-pic-uncropped.jpg) no-repeat center center fixed;
    background-size: cover;
    
}

.bg-dssg-blue {
background-color: rgba(0, 166, 248, 0.8)
}

.what-we-do h2, .what-we-do h3 {
    text-shadow: 1px 1px  #777
}

</style>

{{ partial "header.html" . }}

{{ .Content }}




<div class="updates flex-ns bt b--black-30">

    <div class="w-two-thirds-ns w-100 pa4 bg-light-gray">
        <h3>Coming Events</h3>

        <ul class="list w-90 pl1">
            <li>
                <h4>DSSG Office hours - March 6th, Impact Hub Berlin</h4>
                <p>If you work in an non-profit organisation, come along for a free advice session with a data scientist</p>
            </li>
            <li>
                <h4>Data Science Speed Dating - Late March, venue TBA</h4>
                <p class="lh-copy">We're putting on another night of matching volunteers to data problems brought along by NGOs. Interested? <a href="https://blog.dssg-berlin.org/data-science-speed-dating-in-berlin-9c75a44a5c00">See how our last event went</a> </p>
            </li>
        </ul>
    </div>
    
     {{ partial "newsletter.html" . }}


</div>


            </div>

            <div id="who" class="w-100 pa4 center">
                <h2>Team</h2>
                <ul class="flex-ns flex-wrap list">
                    <li class="w-25 center ma3 tc">
                        <img class="br-100 dib ba b--dark-blue" src='/images/bio-pics/chris.adams.100x100.jpg'>
                        
                        <p class="f4 mb2 mt2">Chris Adams</p>
                        <p class="f5 ma1 gray">Product Manager</p>
                    </li>
                    <li class="w-25 center ma3 tc"> 
                        <img class="br-100 dib ba b--dark-blue" src='/images/bio-pics/jennifer.ahrens.100x100.jpg'>
                        <p class="f4 mb2 mt2">Jennifer Ahrens</p>
                        <p class="f5 ma1 gray">Data Scientist</p>
                    </li>
                    
                    <li class="w-25 center ma3 tc">
                        <img class="br-100 dib ba b--dark-blue" src='/images/bio-pics/daniel.kirsch.100x100.jpg'>
                        <p class="f4 mb2 mt2">Daniel Kirsch</p>
                        <p class="f5 ma1 gray">Mathematiker</p>
                    </li>
                    <li class="w-25 center ma3 tc">
                        <img class="br-100 dib ba b--dark-blue" src='/images/bio-pics/jana.kludas.100x100.jpg'>
                        <p class="f4 mb2 mt2">Jana Kludas</p>
                        <p class="f5 ma1 gray">Data Scientist</p>
                    </li>
                    <li class="w-25 center ma3 tc">
                        <img class="br-100 dib ba b--dark-blue" src='/images/bio-pics/jan.kyri.100x100.jpg'>
                        <p class="f4 mb2 mt2">Jan Kyri</p>
                        <p class="f5 ma1 gray">Data Freelancer</p>
                    </li>
                    <li class="w-25 center ma3 tc">
                        <img class="br-100 dib ba b--dark-blue" src='/images/bio-pics/jannes.quer.100x100.jpg'>
                        <p class="f4 mb2 mt2">Jannes Quer</p>
                        <p class="f5 ma1 gray">Data Scientist</p>
                    </li>
                    <li class="w-25 center ma3 tc">
                        <img class="br-100 dib ba b--dark-blue" src='/images/bio-pics/katharina.rasch.100x100.jpg'>
                        <p class="f4 mb2 mt2">Katharina Rasch</p>
                        <p class="f5 ma1 gray">Data Scientist</p>
                    </li>
                </ul>
            </div>




</div>
    

{{ partial "footer.html" . }}

</body>

</html>