<footer class="site-footer w-100 pa4 bg-gray white">

  <h2 class="footer-heading">Data Science for Social Good Berlin</h2>

  <div class="w-100 flex">

        <div class="w-50">
          <p class="lh-copy measure-wide">We help solve data problems, by pairing non-profits with volunteer data scientists, at community events, hackathons and
            on bespoke projects
          </p>
        </div>
    
    <div class="w-25">
    
      <h3>DSSG Berlin elsewhere</h3>
      <ul class="list pl1">
        <li class="mt2 mb2">
          <a class="white" href="http://github.com/dssg-berlin/">Github: dssg-berlin</a>
        </li>
        <li class="mt2 mb2">
          <a class="white" href="https://twitter.com/dssgber">Twitter: dssg-ber</a>
        </li>
        <li class="mt2 mb2">
          <a class="white" href="https://blog.dssg-berlin.org/">Medium: dssg-ber</a>
        </li>
      </ul>
    </div>
  
    <div class="w-25">
    
      <h3>Legal</h3>
      <ul class="list pl1">
        <li>
          <a class="white" ref="/impressum">Impressum</a>
        </li>
      </ul>
    
    </div>


  </div>
  
</footer>
