<footer class="site-footer w-100 pa4 bg-gray white">

  <div class="w-100 flex-ns">

        <div class="w-50-ns w-100">
          <h2 class="footer-heading">Data Science for Social Good Berlin</h2>
          <p class="lh-copy measure-wide">
            {{ i18n "footer_what_we_do" }}
          </p>
        </div>

    <div class="w-25-ns">
      <h2>{{ i18n "footer_dssg_elsewhere" }}</h2>
      <ul class="list pl1">
        <li class="mt2 mb2 v-mid">
          <a class="white link" href="http://github.com/dssg-berlin/" target="_new"><i class="fab fa-github pr3 white f4"></i>GitHub</a>
        </li>
        <li class="mt2 mb2 v-mid">
          <a class="white link" href="http://twitter.com/dssgber/" target="_new"><i class="fab fa-twitter pr3 white f4"></i>Twitter</a>
        </li>
        <li class="mt2 mb2 v-mid">
          <a class="white link" href="https://www.linkedin.com/company/dssg-berlin" target="_new"><i class="fab fa-linkedin pr3 white f4"></i>LinkedIn</a>
        </li>
      </ul>
    </div>

    {{ range .Site.Menus.footer }}
      {{ if .HasChildren }}
      <div class="w-25">
        <h2>{{ .Name }}</h2>
        <ul class="list pl1">
          {{ range .Children }}
          <li>
            <a class="white link" href="{{ .URL }}">
                {{ .Pre }}
                {{ .Name }}
            </a>
          </li>
          {{ end }}
        </ul>
      </div>
      {{ else }}
        <li>
            <a href="{{ .URL }}">
                <span>{{ .Name }}</span>
            </a>
        </li>
      {{ end }}
    {{ end }}

  </div>
</footer>
