<header class="site-header w-100 pl5 dt">
  <div class="dtc">
    <div class="v-mid pb2">
      <img class="h3 v-mid" src="/images/dssg-logo.svg" alt="">
      <a class="v-btm f1 pl2 link black" href="/">DSSG Berlin</a>
    
      <nav class="fr mt4 pr4">
      <!--<a href="/">English</a> |
      <a href="/de">Deutsch</a>-->
      <a href="/"><span class="flag-icon flag-icon-gb pr1"></span></a> |
      <a href="/de"><span class="flag-icon flag-icon-de pl1"></span></a>
      </nav>

    </div>

  </div>

</header>