<div class="w-100 pa3 bg-dark-gray white tc">

    <h2>{{ i18n "newsletter_title" }}</h2>

    <p class="lh-copy">
        {{ i18n "newsletter_reassurance_l1" }}
    </p>
    <p class="lh-copy">
        {{ i18n "newsletter_reassurance_l2" }}
    </p>

    <div id="mc_embed_signup">
        <form action="//dssg-berlin.us11.list-manage.com/subscribe/post?u=d47faa89afcb41f45a993addb&amp;id=1ccfd13be6" method="post"
            id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
            <div id="mc_embed_signup_scroll">
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;">
                    <input type="text" name="b_d47faa89afcb41f45a993addb_1ccfd13be6" tabindex="-1" value="">
                </div>
                <input class="input-reset w-20 pl3 pt2 pb2 f6 f5-l bn br2-ns br--left-ns" type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email" required="" />
                <input class="button-reset w-10 pr2 pt2 pb2 f6 f5-l bg-dssg-blue white pointer tc bn br2-ns br--right-ns" 
                type="submit" name="subscribe" id="mc-embedded-subscribe"
                value="{{ i18n "newsletter_join_button" }}" />
            </div>
        </form>
    </div>

    <p>
        <small>{{ i18n "newsletter_hate_spam" }}</small>
    </p>

</div>