<div class="" id="mc_embed_signup">
    <form class="pv0" action="//dssg-berlin.us11.list-manage.com/subscribe/post?u=d47faa89afcb41f45a993addb&amp;id=1ccfd13be6"
        method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

        <fieldset class="cf bn ma0 pa0">
            <legend class="white pa0 f4 f4-ns mb3 black-80">Sign up for our newsletter</legend>
            <div class="cf mt3">

                <div class="fl w-100 w-90-ns">
                    <label class="clip" for="mce-EMAIL">Email Address</label>
                    <input class="f6 f5-l input-reset bn fl black-80 bg-white pa3 lh-solid br2-ns br--left-ns w-100 w-75-m w-70-l" placeholder="Your Email Address"
                        value="" type="email" name="EMAIL" class="required email" id="mce-EMAIL">
                    <div style="position: absolute; left: -5000px;" aria-hidden="true">
                        <input type="text" name="b_1151cf8076b7bc6d2a1baad10_e398a47517" tabindex="-1" value="">
                    </div>



                    <input class="f6 f5-l button-reset fl pv3 tc bn bg-animate bg-black-70 hover-bg-black white pointer w-100 w-25-m w-20-l br2-ns br--right-ns"
                        type="submit" value="Subscribe">
                </div>
            </div>
        </fieldset>
        <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
        </div>
    </form>
</div>